*{
    color: #5E5694;
    box-sizing: border-box;
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.books{
    background-color: #ededed;
    width: 200px;
    padding: 1px 5px 1px 5px;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.img_container{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}


.head{
    height: 60px;
    width: 100%;
    background-color: #efefef;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px 0 30px;
    margin-right: 100px;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-size: 20px;
}
.container{
    padding: 0 30px 0 30px;

}
.button{
    text-decoration: none;
    padding: 10px;
    background-color: #d5d5d5;
}
a{
    text-decoration: none;
}

.text_content{
    padding: 0px 5px 0px 5px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    background-color: #efefef;
    padding: 10px;
}

.background{
    background-color: #efefef;
    padding: 15px;
    width: 700px;
}
.authors{
    display: flex;
    justify-content: space-between;
}
.authors_block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.book_container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}